@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
.nav-button {
  position: fixed;
  bottom: 4vh;
  right: 4vw;
  z-index: 999; }
  @media only screen and (min-width: 969px) {
    .nav-button {
      display: none; } }
  .nav-button .nav-icon {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }

.drawer {
  padding: 5vw;
  border-radius: 15vw 0 0 0;
  background-color: #B31E36;
  flex-direction: column;
  justify-content: space-evenly; }
  .drawer ul {
    list-style: none; }
  .drawer a {
    text-decoration: none; }
  .drawer .close-button-container {
    display: flex;
    justify-content: flex-end; }
    .drawer .close-button-container .mobile-drawer-close-button {
      flex-shrink: 1; }
      .drawer .close-button-container .mobile-drawer-close-button svg {
        transition: transform ease-in-out 150ms; }
      .drawer .close-button-container .mobile-drawer-close-button:active svg {
        transform: rotate(80deg); }

body {
  background-color: white;
  margin: 0; }

* {
  box-sizing: border-box; }

.top-bar {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5; }
  @media only screen and (max-width: 768px) {
    .top-bar {
      display: none; } }
  .top-bar img {
    height: 50px;
    margin-left: 48px; }
  .top-bar ul {
    list-style: none;
    margin-right: 34px; }
    .top-bar ul li {
      display: inline-block;
      margin-left: 25px; }
      .top-bar ul li a {
        text-decoration: none; }
        .top-bar ul li a p {
          color: #fff;
          font-size: 15px;
          font-weight: normal;
          transition: color ease-in-out 200ms; }
          .top-bar ul li a p:hover {
            color: #EBD3D5; }

.footer-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 5; }
  @media only screen and (max-width: 768px) {
    .footer-panel {
      padding: 10px 0; } }
  .footer-panel .copyright {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    transition: color ease-in-out 200ms;
    text-align: center; }
  .footer-panel .text-ul {
    padding: 5px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .footer-panel .text-ul .text-item {
      display: inline-block;
      padding: 0 12px; }
      .footer-panel .text-ul .text-item a {
        text-decoration: none; }
        .footer-panel .text-ul .text-item a p {
          color: #fff;
          font-size: 15px;
          font-weight: normal;
          transition: color ease-in-out 200ms; }
          .footer-panel .text-ul .text-item a p:hover {
            color: #EBD3D5; }
  .footer-panel .icon-ul {
    list-style: none;
    padding: 5px 17px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    .footer-panel .icon-ul .icon-item {
      padding: 5px; }
      .footer-panel .icon-ul .icon-item .icon-button {
        background-color: white;
        border-radius: 100%;
        width: 28px;
        height: 28px;
        align-items: center;
        vertical-align: middle;
        justify-content: center; }
        .footer-panel .icon-ul .icon-item .icon-button :hover {
          cursor: pointer; }
      .footer-panel .icon-ul .icon-item .icon {
        width: 28px;
        height: 28px; }
      .footer-panel .icon-ul .icon-item a {
        text-decoration: none; }
        .footer-panel .icon-ul .icon-item a p {
          color: #fff;
          font-size: 18px;
          font-weight: normal;
          transition: color ease-in-out 200ms; }
          .footer-panel .icon-ul .icon-item a p:hover {
            color: #EBD3D5; }

.rectangle {
  display: flex;
  flex-flow: row;
  height: 14px;
  width: 100%; }

.rectangle-part {
  height: 14px;
  flex-grow: 1; }

.red {
  background-color: #e34d59; }

.yellow {
  background-color: #ffba52; }

.blue {
  background-color: #a4e1ea; }

