@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url(https://fonts.googleapis.com/css?family=Barlow:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap);
@import url(https://fonts.googleapis.com/css?family=Barlow:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap);
.nav-button {
  position: fixed;
  bottom: 4vh;
  right: 4vw;
  z-index: 999; }
  @media only screen and (min-width: 969px) {
    .nav-button {
      display: none; } }
  .nav-button .nav-icon {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }

.drawer {
  padding: 5vw;
  border-radius: 15vw 0 0 0;
  background-color: #B31E36;
  flex-direction: column;
  justify-content: space-evenly; }
  .drawer ul {
    list-style: none; }
  .drawer a {
    text-decoration: none; }
  .drawer .close-button-container {
    display: flex;
    justify-content: flex-end; }
    .drawer .close-button-container .mobile-drawer-close-button {
      flex-shrink: 1; }
      .drawer .close-button-container .mobile-drawer-close-button svg {
        transition: transform ease-in-out 150ms; }
      .drawer .close-button-container .mobile-drawer-close-button:active svg {
        transform: rotate(80deg); }

body {
  background-color: white;
  margin: 0; }

* {
  box-sizing: border-box; }

h1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px; }

h2 {
  font-family: "Barlow", sans-serif; }

h3 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px; }

span.roles {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 35px; }
  span.roles h3 {
    margin-right: 40px; }
  span.roles .role-chip {
    margin-right: 20px; }

@media only screen and (max-width: 768px) {
  span.roles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px; }
    span.roles .role-chip {
      margin-bottom: 10px; } }

.creator {
  margin-bottom: 10px; }

.date {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5; }

.listing-avatar {
  float: left; }

.root {
  background-color: #fafafa;
  margin-bottom: 16px; }
  @media only screen and (min-width: 969px) {
    .root {
      margin-top: 24px; } }
  @media only screen and (max-width: 1024px) {
    .root {
      margin-top: 24px; } }
  @media only screen and (max-width: 768px) {
    .root {
      margin-top: 32px; } }

.listingList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px; }

.page-header {
  margin-top: 100px; }

.filters-region {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  flex-grow: 6; }

.action-region {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px; }

.back-to-top-btn {
  position: fixed;
  right: 0;
  top: 50%;
  background: none;
  width: 45px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  color: rgba(0, 0, 0, 0.2);
  font: inherit;
  cursor: pointer;
  outline: inherit; }
  @media only screen and (max-width: 1024px) {
    .back-to-top-btn {
      display: none; } }

@media only screen and (max-width: 768px) {
  .action-region {
    flex-direction: column;
    align-items: stretch; } }

.job-category-list {
  max-height: 100px; }

.drop-down-selection {
  font-style: italic;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 15px; }

.janus {
  min-height: calc(100vh - 72px - 48px);
  margin-top: 72px; }

.empty-janus-page {
  display: grid;
  text-align: center;
  margin-top: 18rem;
  margin-bottom: 15rem; }

.janus-loading {
  margin-left: 50%;
  margin-right: 50%; }

.progressBar {
  margin-left: auto;
  margin-right: auto; }

.top-bar {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5; }
  @media only screen and (max-width: 768px) {
    .top-bar {
      display: none; } }
  .top-bar img {
    height: 50px;
    margin-left: 48px; }
  .top-bar ul {
    list-style: none;
    margin-right: 34px; }
    .top-bar ul li {
      display: inline-block;
      margin-left: 25px; }
      .top-bar ul li a {
        text-decoration: none; }
        .top-bar ul li a p {
          color: #fff;
          font-size: 15px;
          font-weight: normal;
          transition: color ease-in-out 200ms; }
          .top-bar ul li a p:hover {
            color: #EBD3D5; }

.footer-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 5; }
  @media only screen and (max-width: 768px) {
    .footer-panel {
      padding: 10px 0; } }
  .footer-panel .copyright {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    transition: color ease-in-out 200ms;
    text-align: center; }
  .footer-panel .text-ul {
    padding: 5px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .footer-panel .text-ul .text-item {
      display: inline-block;
      padding: 0 12px; }
      .footer-panel .text-ul .text-item a {
        text-decoration: none; }
        .footer-panel .text-ul .text-item a p {
          color: #fff;
          font-size: 15px;
          font-weight: normal;
          transition: color ease-in-out 200ms; }
          .footer-panel .text-ul .text-item a p:hover {
            color: #EBD3D5; }
  .footer-panel .icon-ul {
    list-style: none;
    padding: 5px 17px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    .footer-panel .icon-ul .icon-item {
      padding: 5px; }
      .footer-panel .icon-ul .icon-item .icon-button {
        background-color: white;
        border-radius: 100%;
        width: 28px;
        height: 28px;
        align-items: center;
        vertical-align: middle;
        justify-content: center; }
        .footer-panel .icon-ul .icon-item .icon-button :hover {
          cursor: pointer; }
      .footer-panel .icon-ul .icon-item .icon {
        width: 28px;
        height: 28px; }
      .footer-panel .icon-ul .icon-item a {
        text-decoration: none; }
        .footer-panel .icon-ul .icon-item a p {
          color: #fff;
          font-size: 18px;
          font-weight: normal;
          transition: color ease-in-out 200ms; }
          .footer-panel .icon-ul .icon-item a p:hover {
            color: #EBD3D5; }

.rectangle {
  display: flex;
  flex-flow: row;
  height: 14px;
  width: 100%; }

.rectangle-part {
  height: 14px;
  flex-grow: 1; }

.red {
  background-color: #e34d59; }

.yellow {
  background-color: #ffba52; }

.blue {
  background-color: #a4e1ea; }

